body{
    background-color: darkcyan;
}
.div-container{
    top: 20%;
    display: flex;
    justify-content: center;
    
}       
.flexboxItem{
    width: 200px;
}
.div1{
    min-width:0px;
    max-width: 300px;
}
.div2{
    position: absolute;
    top: 15%;
    width: 500px;
    height: 500px;
    border-radius: 2rem;
    background-color: rgb(0, 90, 90);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.div3{
    min-width:0px;
    max-width: 300px;
}
.baslik{
    position: absolute;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    left: 28%;
    top: 5%;
}
.inputContainer{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 28%;
    left: 20%;
    
}
.usernameText{
    position: absolute;
    left:1.666666%;
    width: 280px;
    height: 50px;
    border-radius: 0.5rem;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    text-align: center;
}
.passwordText{
    position: absolute;
    left:1.666666%;
    width: 280px;
    height: 50px;
    top: 40%;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
.loginButton{
    position: absolute;
    border-radius: 1rem;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    bottom: 0%;
    width: 150px;
    height: 40px;
    left: 25%;
    cursor: pointer;
}
